.itemfinder-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('./images/Diablo_II_Background.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 1rem;
}

.searchbar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 27.5vh;
}

.diablo-2-logo {
  height: 150px;
}

.app-name-text {
  color: rgb(201, 175, 111);
  font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.1rem;
}

.itemlist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 77.5vh;
  width: 90%;
  overflow-y: scroll;
  margin-top: 15px;
  padding-top: 15px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.unique-item-container,
.set-item-container,
.runeword-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  width: 50%;
  padding: 15px;
  color: rgb(92, 92, 207);
  background-color: black;
  border-radius: 5px;
  margin: 5px 0px;
}

/* for Chrome, Safari, and Opera */
.itemlist-container::-webkit-scrollbar {
  display: none;
}

.item-search {
  padding: 200px;
  font-size: 24px;
  font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(221, 221, 221);
  margin: 15px;
  padding: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
  border: none;
  box-shadow: inset 0 0 10px black;
  transition: 0.2s;
}

.item-search:focus {
  outline: none;
  box-shadow: inset 0 0 5px black;
}

.item-search:focus::placeholder {
  color: transparent;
}

.item-search::placeholder {
  color: rgb(36, 36, 36);
}

.runeword-name,
.unique-item-name,
.runeword-runes {
  color: rgb(201, 175, 111);
}

.runeword-name,
.unique-item-name {
  font-size: 1.35rem;
}

.set-item-name {
  font-size: 1.35rem;
  color: rgb(3, 192, 34);
}

.item-base {
  font-size: 1.25rem;
  color: rgb(110, 108, 108);
}

.item-requirements {
  color: white;
}

.runeword-min-roll,
.unique-item-min-roll,
.set-item-min-roll {
  color: rgb(214, 105, 105);
}

.runeword-max-roll,
.unique-item-max-roll,
.set-item-max-roll {
  color: rgb(74, 226, 175);
}

@media (max-height: 700px) {
  .searchbar-container {
    margin-top: 20px;
  }

  .itemlist-container {
    margin-top: 30px;
  }
}

@media (max-height: 550px) {
  .itemlist-container {
    margin-top: 50px;
  }
}

@media (max-height: 400px) {
  .itemlist-container {
    margin-top: 70px;
  }
}

@media (min-width: 1000px) {

  .unique-item-container,
  .set-item-container,
  .runeword-container {
    width: 45%;
  }
}

@media (max-width: 750px) {

  .unique-item-container,
  .set-item-container,
  .runeword-container {
    width: 60%;
  }
}

@media (max-width: 600px) {

  .unique-item-container,
  .set-item-container,
  .runeword-container {
    width: 75%;
  }
}